body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero {
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 18px 200px 18px 200px;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    gap: 24px;
    margin: 0px 200px 0px 200px;
}

.hero-text {
    max-width: 400px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    padding: 6px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information {
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-block {
    max-width: 150px;
    margin: 24px;
}

.box {
    height: 150px;
    width: 150px;
    background-color: #f9faf8;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 4px;
    margin-bottom: 8px;
}

.quote {
    background-color: #e5e7eb;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#page-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 0;
}

#quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    padding: 100px 300px 0px 300px;
    margin: 0;
}

#quote-credit {
    padding: 0px 300px 100px 300px;
    text-align: right;
    margin: 0;
}