body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero {
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 18px 200px 18px 200px;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    gap: 24px;
    margin: 0px 200px 0px 200px;
}

.hero-text {
    max-width: 400px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#page-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 0;
}